
TD2020/Saved/AutoScreenshot.png




/TD2020/saved/Autosaves/
/TD2020/saved/Backup/
/TD2020/saved/Collections/
/TD2020/saved/Logs/
/TD2020/saved/StagedBuilds/
/TD2020/saved/Crashes/
/TD2020/saved/Cooked/
/TD2020/saved/Config/CrashReportClient/

/TD2020/Content/Developers/
/TD2020/Content/Collections/

/TD2020/build/
/TD2020/intermediate/
/TD2020/binaries/
/TD2020/DerivedDataCache/
/TD2020/Debug/
/TD2020/.vs/
/TD2020/.git/

/TD2020/Plugins/UnrealEnginePython/binaries/
/TD2020/Plugins/UnrealEnginePython/tutorials/
/TD2020/Plugins/UnrealEnginePython/intermediate/
/TD2020/Plugins/UnrealEnginePython/screenshots/

/TD2020/Plugins/RTSPlugin/binaries/
/TD2020/Plugins/RTSPlugin/tutorials/
/TD2020/Plugins/RTSPlugin/intermediate/
/TD2020/Plugins/RTSPlugin/screenshots/



*.log
*.sln
*nul
*.VC.db
*.opensdf
*.opendb
*.suo
*.sdf
*.xcodeproj
*.xcworkspace
TD2020/Saved/AutoScreenshot.png
