
TD2020/Saved/AutoScreenshot.png




/TD2020/saved/Autosaves/
/TD2020/saved/Backup/
/TD2020/saved/Collections/
/TD2020/saved/Logs/
/TD2020/saved/StagedBuilds/
/TD2020/saved/Crashes/
/TD2020/saved/Cooked/
/TD2020/saved/EditorCooked/
/TD2020/saved/Config/CrashReportClient/
/TD2020/saved/Temp/
/TD2020/saved/SaveGames/
/TD2020/saved/HardwareSurvey/

/TD2020/Content/Developers/
/TD2020/Content/Collections/
/TD2020/Publish/
/TD2020/build/
/TD2020/intermediate/
/TD2020/binaries/
/TD2020/DerivedDataCache/
/TD2020/Debug/
/TD2020/.vs/
/TD2020/.git/

/TD2020/Plugins/UnrealEnginePython/binaries/
/TD2020/Plugins/UnrealEnginePython/tutorials/
/TD2020/Plugins/UnrealEnginePython/intermediate/
/TD2020/Plugins/UnrealEnginePython/screenshots/

/TD2020/Plugins/RTSPlugin/binaries/
/TD2020/Plugins/RTSPlugin/tutorials/
/TD2020/Plugins/RTSPlugin/intermediate/
/TD2020/Plugins/RTSPlugin/screenshots/

/TD2020/Plugins/AdvancedSessions/binaries/
/TD2020/Plugins/AdvancedSessions/tutorials/
/TD2020/Plugins/AdvancedSessions/intermediate/
/TD2020/Plugins/AdvancedSessions/screenshots/

/TD2020/Plugins/AdvancedSteamSessions/binaries/
/TD2020/Plugins/AdvancedSteamSessions/tutorials/
/TD2020/Plugins/AdvancedSteamSessions/intermediate/
/TD2020/Plugins/AdvancedSteamSessions/screenshots/

*_BuiltData.uasset
*.log
*.sln
*nul
*.VC.db
*.opensdf
*.opendb
*.suo
*.sdf
*.xcodeproj
*.xcworkspace
TD2020/Saved/AutoScreenshot.png
TD2020/Content/Scripts/alpha-zero-general/pretrained_models/othello/keras/6x6 checkpoint_145.pth.tar
TD2020/Content/Scripts/alpha-zero-general/pretrained_models/othello/pytorch/6x100x25_best.pth.tar
TD2020/Content/Scripts/alpha-zero-general/pretrained_models/othello/pytorch/6x6_153checkpoints_best.pth.tar
TD2020/Content/Scripts/alpha-zero-general/pretrained_models/othello/pytorch/8x8_100checkpoints_best.pth.tar
TD2020/Content/Scripts/alpha-zero-general/pretrained_models/tictactoe/keras/best-25eps-25sim-10epch.pth.tar
*.DESKTOP-V81M6C5

